<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - Flask DevOps App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>About This Project</h1>
        <p>This project demonstrates:</p>
        <ul>
            <li>Flask Web App</li>
            <li>Docker Containerization</li>
            <li>CI/CD with GitHub Actions & Render</li>
            <li>Environment Variables & DevOps practices</li>
        </ul>
        <a href="/" class="button">Go Home</a>
    </div>
    <footer>
        &copy; 2025 Akram Belhouadjeb - DevOps Portfolio Project
    </footer>
</body>
</html>
